<form class="input-form">
  <div class="form-group">
    <label for="organizationCode">조직 코드</label>
    <input type="text" class="form-control" id="organizationCode" placeholder="조직 코드" ng-model="orgCode">
  </div>
  <div class="form-group">
    <label for="organizationName">조직명</label>
    <input type="text" class="form-control" id="organizationName" placeholder="조직명" ng-model="orgName">
  </div>
  <button type="button" class="btn btn-success  form-button form-inline" ng-click="queryData()">조회</button>
  <button type="button" class="btn btn-info  form-button form-inline">입력</button>
  <button type="button" class="btn btn-warning  form-button form-inline">수정</button>
  <button type="button" class="btn btn-danger  form-button form-inline">삭제</button>
</form>