<form class="input-form">
  <div class="form-group">
    <label for="objectiveCode">목표 코드</label>
    <input type="text" class="form-control" id="objectiveCode" placeholder="목표 코드">
  </div>
  <div class="form-group">
    <label for="objectiveDesc">목표 설명</label>
    <input type="text" class="form-control" id="objectiveDesc" placeholder="목표 설명">
  </div>
  <div class="form-group">
    <label for="organizationCode">조직 코드</label>
    <input type="text" class="form-control" id="organizationCode" placeholder="조직 코드">
  </div>
  <div class="form-group">
    <label for="organizationName">조직명</label>
    <input type="text" class="form-control" id="organizationName" placeholder="조직명">
  </div>
  <button type="button" class="btn btn-success  form-button form-inline">조회</button>
  <button type="button" class="btn btn-info  form-button form-inline">입력</button>
  <button type="button" class="btn btn-warning  form-button form-inline">수정</button>
  <button type="button" class="btn btn-danger  form-button form-inline">삭제</button>
</form>